<!-- homepage of the website -->

{% extends "layout.html" %}

{% block main %}
<div id="main">
    <div class="header">
        <alpha>
        <h1>List It!</h1>
        <h2>Events Listing for Harvard Student Organizations</h2>
        </alpha>
    </div>
    
    <div class="content">
        <h2 class="content-subhead">Who is it for?</h2>
        <p>
            Do you have an event coming up that you would love to share with your Harvard friends? <b>List It!</b> allows any Harvard-affiliated student organization to register an event for the entire Harvard community to see!
        </p>
        
        <div class="pure-g">
            <div class="pure-u-1-4">
                <img src="http://i65.tinypic.com/2n68y6a.jpg" alt="Din & Tonics">
            </div>
            <div class="pure-u-1-4">
                <img src="http://i66.tinypic.com/2m3fcra.jpg" alt="Sanders Theater">
            </div>
            <div class="pure-u-1-4">
                <img src="http://i65.tinypic.com/311s6xz.jpg" alt="Ghungroo">
            </div>
            <div class="pure-u-1-4">
                <img src="http://i67.tinypic.com/33pbktk.jpg" alt="Food Truck">
            </div>
        </div>
        
        <h2 class="content-subhead">How does it work?</h2>
        <p>
            Easy! In order to view the upcoming events entered by your peers, click on "View" and discover what's happening on campus.
            
            If you want to enter an event, first you will need to register, entering your name as it features on the Harvard Facebook, and indicating the student organization that you are a part of. Then, you will be able to Add an Event with as many details as you want for all Harvard students to see.
            
            Have fun on List it!
        </p>
        
    </div>
</div>
{% endblock %}